.usecase-fourLangToSwissTranslation {
  background-color: var(--simplicity-color1);
}
.usecase-botChat {
  background-color: var(--passion-color1);
}
.usecase-realtimeTranscription {
  background-color: var(--passion-color2);
}
.usecase-newsReader {
  background-color: var(--passion-color3);
}