:root {
  --passion-color1: #554596;
  --passion-color2: #E83181;
  --passion-color3: #F6A424;

  --simplicity-color1: #003854;
  --simplicity-color2: #A7BBC5;
  --simplicity-color3: #D4DCE1;
  --simplicity-color4: #EAEEF1;

  --secondary-OC08: #343A40;
  --secondary-OC04: #CED4DA;
}